/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

/*
root Font padrão
EB Garamond:
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  Cormorant:
    font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  Libre Caslon Text:
     font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-style: normal;

/* regra css */

/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*  */
    scrollbar-width: thin;/*  */
    scrollbar-color: red;/*  */
}

body {
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
}
a{
    color: whitesmoke;
    text-decoration: none;
}

ul{

    list-style: none;
}

html[data-theme='dark'] .logo {
    filter: invert(1);
}

#header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    
} 

.logo {
    width: 56px;  /* largura */
    height: 56px; /* altura */
}

.header-toggle{
    display: flex;
    justify-content: flex-end;
    min-width: 30%;
}
#toggleTheme{
    color: whitesmoke; /* cor texto */
    font-size: 18px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}
.menu{
    display: flex;
    align-items: center;
    gap: 25px;
    width: 100%;

}

.menu-link {
    display: flex;
    text-transform: uppercase;
    

}
.menu-texto {
    font-size: 12px;
    text-transform: uppercase;
    font-family: "inter";

}
.header-nav {
    display: none;

 }
.menu-mobile  .menu-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
}
.menu-mobile {
    bottom: 0;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    border-top: 1px solid #989898;
    z-index: 1;
}

.menu-link.active .icone-link,
.menu-link.active .menu-texto,
.menu-link:hover .icone-link,
.menu-link:hover .menu-texto {
    color: red
}
.icone-link,
.menu-texto {
    color: #525050;
    font-weight: 400;
}
.icone-link {
    font-size: 25px;
}


/* CSS Responsivo */
/* telas apartir de 768 */
@media(min-width: 768px) {
    .header-nav{
        display: flex;
    }
    .header-nav,
    .header-toggle{
        min-width: 30%;
    }
    .nav-mobile {
        display: none;
    }
}
    

